---
import Image from './Image.astro';
import FooterLogo from '../assets/img/bridge-logo.png'; 
---

<footer class="bg-primary-back text-primary text-sm pt-12 pb-12 px-12 border-t border-gray-300">
  <div class="max-w-7xl mx-auto">
    <!-- ロゴと社名 横並び -->
     <a href="/">
    <div class="flex items-center mb-2">
      <Image
        src={FooterLogo}
        alt="Bridge"
        class="h-16 w-auto mr-3"
        loading="lazy"
        decoding="async"
      />
    </div>
    </a>
    <!-- 住所 -->
    <div class="text-sm mb-6">
      <p>〒108-0073</p>
      <p>東京都港区三田3-4-17 藤和三田コープⅡ203</p>
    </div>

    <!-- フッタークレジット -->
    <div class="mt-10 text-xs text-center text-gray-900">
      ©　株式会社Bridge All Rights Reserved.
    </div>
  </div>
</footer>
